.main-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column  ;
  margin-bottom: 1rem;
}

.emoji-container{
  width: 500px;
  height: 100%;
  box-sizing: content-box;
}

.search-input {
  width: 500px;
  margin-top: 10px;
  border-radius: 5px;
  height: 35px;
}

.emoji-item {
  font-size: 4rem;
  margin: 0.5rem;
  white-space: nowrap;
}
.buttons{
  margin-top: 50px;
}
